@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{
    margin:0;
    padding:0
}
body,button,h1,h2,h3,h4,h5,input,select,table,textarea{
    font-family:Roboto,'Noto Sans KR','Helvetica Neue',Helvetica,sans-serif;
    font-size:15px;
    line-height:1.7
}
body{
    word-wrap:break-word
}
table{
    border-collapse:collapse
}
ol,ul{
    list-style-type:none
}
fieldset{
    border:0
}
img{
    border:0;
    vertical-align:top
}
address,em{
    font-style:normal
}
a{
    color:inherit;
    text-decoration:none
}
.blind{
    position:relative;
    overflow:hidden;
    width:0;
    height:0;
    font-size:0;
    line-height:0;
    color:transparent
}
button{
    -webkit-appearance:none;
    background:0 0;
    border:none;
    margin:0;
    padding:0;
    cursor:pointer;
    text-align:left;
    letter-spacing:0;
    word-spacing:0;
    text-indent:0;
    box-sizing:content-box
}
article,footer,header,section{
    display:block
}
.sp{
    width:77px;
    height:71px;
    background-image:url(../img/sprite-e480f4ad9b.png);
    background-size:77px 71px;
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
    background-repeat:no-repeat;
    width:0;
    height:0;
    color:transparent;
    font-size:0;
    line-height:0
}
.sp_contact{
    background-position:0 0;
    width:77px;
    height:71px
}
.cic_arrow{
    position:relative;
    overflow:hidden;
    display:inline-block;
    vertical-align:top;
    font-size:0;
    width:10px;
    height:20px
}
.cic_arrow:after,.cic_arrow:before{
    position:absolute;
    top:0;
    border-style:solid;
    border-width:10px;
    border-right-width:0;
    border-color:transparent;
    vertical-align:middle;
    color:transparent;
    font-size:0;
    content:''
}
.cic_arrow:before{
    left:0
}
.cic_arrow:after{
    left:-2px;
    border-left-color:#fff
}
body,html{
    position:relative;
    height:100%
}
html{
    overflow:hidden;
    overflow-y:scroll
}
.header{
    z-index:10
}
.sections{
    z-index:5
}
.footer{
    z-index:10
}
.pagination{
    display:none;
    position:fixed;
    top:50%;
    right:10px;
    z-index:50;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.pagination .pgn{
    display:block;
    width:8px;
    height:8px;
    border-radius:100%;
    margin:20px;
    background-color:#fff;
    opacity:.2;
    font-size:0;
    color:transparent
}
.pagination .pgn.on{
    opacity:1
}
.header{
    position:fixed;
    top:0;
    right:100px;
    left:100px
}
.header .header_inner{
    height:130px;
    position:relative;
    margin:0 auto
}
.header .all{
    position:absolute;
    top:50%;
    right:0;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    color:#f90;
    font-size:16px;
    font-weight:400
}
.logo{
    overflow:hidden;
    position:absolute;
    top:50%;
    left:0;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.logo span{
    color:#f1f1f1;
    float:left;
    font-size:30px;
    line-height:30px
}
.logo span.n{
    color:#f90;
    opacity:.9
}
.navigation{
    position:absolute;
    top:50%;
    right:120px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.navigation .list{
    overflow:hidden
}
.navigation .item{
    float:left;
    position:relative;
    margin-left:20px;
    padding-left:20px
}
.navigation .item:before{
    position:absolute;
    top:40px;
    bottom:40px;
    left:0;
    width:1px;
    background-color:rgba(255,255,255,.3);
    content:''
}
.navigation .item:first-child{
    margin:0;
    padding:0
}
.navigation .item:first-child:before{
    display:none
}
.navigation .link{
    display:block;
    color:#aaa;
    font-size:16px;
    font-weight:400;
    padding:30px 0
}
.navigation .on .link{
    color:#fff
}
.sections{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100%
}
.sections .section{
    position:absolute;
    top:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#001;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:cover;
    -webkit-transition:all .5s ease;
    transition:all .5s ease
}
.sections .section:before{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    background-color:#001;
    opacity:.75;
    content:''
}
.sections .section .section_inner{
    position:relative;
    z-index:2;
    width:100%;
    height:100%;
    text-align:center;
    font-size:0;
    white-space:nowrap
}
.sections .section .section_inner .flex{
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    word-wrap:break-word;
    max-width:980px;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:50px 100px;
    position:relative
}
.sections .section .section_inner:after{
    display:inline-block;
    vertical-align:middle;
    height:100%;
    content:''
}
.sections .section.about_us{
    z-index:4;
    top:0;
    background-image:url(../img/main1.jpg)
}
.sections .section.about_us .title{
    color:#fff;
    font-size:40px;
    font-weight:500
}
.sections .section.about_us .description{
    margin:30px 0 0;
    color:rgba(255,255,255,.9);
    font-size:20px;
    font-weight:300
}
.sections .section.introduce_product{
    z-index:3;
    top:100%;
    background-image:url(../img/main2.jpg)
}
.sections .section.introduce_product .title{
    color:#fff;
    font-size:24px;
    font-weight:500
}
.sections .section.introduce_product .description{
    margin:0;
    color:rgba(255,255,255,.5);
    font-size:18px;
    font-weight:300
}
.sections .section.introduce_product .list{
    margin:50px -7px 0
}
.sections .section.introduce_product .list:after{
    display:block;
    content:'';
    clear:both
}
.sections .section.introduce_product .item{
    float:left;
    width:25%
}
.sections .section.introduce_product .link{
    display:block;
    padding:7px
}
.sections .section.introduce_product .thumbnail_wrap{
    display:block;
    position:relative;
    padding-bottom:100%
}
.sections .section.introduce_product .thumbnail{
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    max-height:100%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}
.sections .section.introduce_product .product_name{
    margin:10px 0 0;
    color:#a8a8a8;
    font-size:16px;
    display:block;
    text-align:center
}
.sections .section.introduce_product .action{
    margin:70px 0 0;
    text-align:center
}
.sections .section.introduce_product .action .button{
    display:inline-block;
    vertical-align:top;
    background-color:rgba(255,255,255,.8);
    color:#000;
    padding:15px 30px;
    font-size:17px;
    font-weight:500;
    border-radius:0
}
.sections .section.introduce_product .action .button .cic_arrow{
    display:none
}
.sections .section.maker_product{
    z-index:2;
    top:200%;
    margin:0;
    padding:0;
    background-image:url(../img/main3.jpg)
}
.sections .section.maker_product .title{
    color:#fff;
    font-size:24px;
    font-weight:500
}
.sections .section.maker_product .description{
    margin:30px 0 0;
    color:rgba(255,255,255,.9);
    font-size:20px;
    font-weight:400
}
.sections .section.maker_product .tbl{
    display:table;
    margin:20px auto 0
}
.sections .section.maker_product .tbl_dl{
    display:table-row
}
.sections .section.maker_product .tbl_dt{
    padding:10px 0;
    display:table-cell;
    vertical-align:middle;
    text-align:left
}
.sections .section.maker_product .tbl_dt img{
    width:150px;
    margin-top:5px;
    margin-right:5px;
    display:block
}
.sections .section.maker_product .tbl_dd{
    padding:10px 0 0 10px;
    display:table-cell;
    font-size:18px;
    color:rgba(255,255,255,.5);
    font-weight:300;
    vertical-align:middle;
    text-align:left
}
.sections .section.footer{
    z-index:1;
    top:300%;
    background-image:url(../img/main4.jpg)
}
.sections .section.footer .title{
    color:#fff;
    font-size:40px;
    font-weight:500
}
.sections .section.footer .ic{
    margin:20px 0
}
.sections .section.footer .description{
    margin:30px 0 0;
    color:rgba(255,255,255,.9);
    font-size:20px;
    font-weight:300
}
.sections .section.footer .bar{
    display:inline-block;
    vertical-align:top;
    width:1px;
    height:10px;
    background-color:rgba(255,255,255,.3);
    color:transparent;
    font-size:0;
    margin:13px 8px 0
}
.detail_page{
    height:100%
}
.detail_page body{
    min-height:100%;
    height:auto
}
.detail_page .wrap,.detail_page body{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    width:100%;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    flex-direction:column;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column
}
.detail_page .detail{
    text-align:center
}
.detail_page .detail .detail_img img{
    max-width:100%
}
.detail_page .detail .detail_description{
    text-align:center;
    font-size:18px;
    padding:50px 0
}
.detail_page .detail .detail_description img{
    max-width:100%;
    width:auto!important;
    height:auto!important
}
.detail_page .detail_header{
    width:100%;
    background-color:#fff;
    border-bottom:1px solid #f1f1f1
}
.detail_page .detail_header .detail_header_inner{
    position:relative;
    height:100px;
    max-width:980px;
    margin:0 auto
}
.detail_page .detail_header .detail_logo{
    overflow:hidden;
    position:absolute;
    top:50%;
    left:20px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.detail_page .detail_header .detail_logo .lnk{
    display:inline-block;
    vertical-align:top
}
.detail_page .detail_header .detail_logo span{
    color:#000;
    float:left;
    font-size:40px;
    line-height:40px
}
.detail_page .detail_header .detail_logo span.n{
    color:#999;
    opacity:.9
}
.detail_page .layout-top{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    width:100%
}
.detail_page .detail_container{
    width:100%
}
.detail_page .detail_container .detail_container_inner{
    padding:80px 0;
    max-width:980px;
    width:100%;
    text-align:left;
    margin:0 auto
}
.detail_page .detail_container .detail_container_inner .detail_list_wrap,.detail_page .detail_container .detail_container_inner .detail_wrap{
    padding:0 20px
}
.detail_page .detail_container .detail_container_inner .detail_list_title,.detail_page .detail_container .detail_container_inner .detail_title{
    font-size:30px;
    margin-bottom:50px;
    font-weight:700
}
.detail_page .detail_container .detail_container_inner .no_list p{
    text-align:center;
    padding:100px 0
}
.detail_page .detail_container .detail_container_inner .detail_title{
    text-align:center
}
.detail_page .detail_container .detail_container_inner .detail_list{
    overflow:hidden;
    margin:0 -10px
}
.detail_page .detail_container .detail_container_inner .detail_list .itm{
    float:left;
    width:25%
}
.detail_page .detail_container .detail_container_inner .detail_list .lnk{
    display:block;
    padding:0 10px 80px
}
.detail_page .detail_container .detail_container_inner .detail_list .lnk .thw{
    display:block;
    width:100%;
    padding-bottom:100%;
    position:relative;
    border-radius:5px
}
.detail_page .detail_container .detail_container_inner .detail_list .lnk .thw .th{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:cover;
    border-radius:5px
}
.detail_page .detail_container .detail_container_inner .detail_list .lnk .thw:after{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border:1px solid #000;
    opacity:.2;
    content:'';
    border-radius:5px
}
.detail_page .detail_container .detail_container_inner .detail_list .lnk .tit{
    display:block;
    margin-top:10px;
    font-size:15px;
    text-align:center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.detail_page footer.detail_footer{
    position:relative;
    background-color:#333
}
.detail_page footer.detail_footer .detail_footer_inner{
    max-width:980px;
    margin:0 auto;
    color:#999;
    font-weight:300;
    padding:100px 0
}
.detail_page footer.detail_footer .detail_footer_inner .addr{
    padding:0 20px
}
.footer{
    position:fixed;
    right:100px;
    bottom:50px;
    left:100px
}
.footer .inner{
    color:rgba(255,255,255,.5);
    font-size:13px;
    font-weight:300;
    margin:0 auto
}
.footer .inner .footer_title{
    margin-bottom:5px;
    font-size:14px
}
.footer .inner .bar{
    display:inline-block;
    vertical-align:top;
    width:1px;
    height:7px;
    background-color:rgba(255,255,255,.2);
    color:transparent;
    font-size:0;
    margin:7px 10px 0
}
.interaction .pagination{
    display:block
}
.interaction .sections .section{
    -webkit-transition:all .5s ease;
    transition:all .5s ease
}
.interaction .sections .section.about_us{
    top:0
}
.interaction .sections .section.introduce_product{
    top:0
}
.interaction .sections .section.maker_product{
    top:0
}
.interaction .sections .section.footer{
    top:0
}
@media screen and (max-width:800px){
    .pc{
        display:none!important
    }
    .header{
        right:0!important;
        left:0!important;
        background-color:rgba(0,0,0,.8)
    }
    .header .header_inner{
        height:70px
    }
    .header .all{
        right:20px
    }
    .logo{
        left:20px
    }
    .sections{
        position:relative;
        top:auto;
        right:auto;
        bottom:auto;
        left:auto;
        height:auto
    }
    .sections .section{
        position:relative;
        top:auto;
        right:auto;
        bottom:auto;
        left:auto
    }
    .sections .section:first-child{
        padding-top:100px
    }
    .sections .section:before{
        opacity:.6
    }
    .sections .section.about_us .title{
        font-size:25px
    }
    .sections .section.about_us .description{
        font-size:18px
    }
    .sections .section .section_inner{
        height:auto;
        padding:50px 0
    }
    footer.footer{
        right:0!important;
        left:0!important;
        bottom:0!important;
        padding:30px;
        background-color:#000;
        position:relative
    }
    footer.footer .inner span{
        display:inline-block;
        vertical-align:top
    }
    .section_inner .flex{
        padding-right:30px!important;
        padding-left:30px!important
    }
    .detail_page .detail_header .detail_header_inner{
        height:70px
    }
    .detail_page .detail_header .detail_logo span{
        font-size:30px
    }
    .detail_page .detail_container .detail_container_inner{
        padding:30px 0
    }
    .detail_page .detail_container .detail_container_inner .detail_list_title{
        margin-bottom:20px;
        font-size:20px;
        font-weight:700
    }
    .detail_page .detail_container .detail_container_inner .detail_list{
        overflow:hidden;
        margin:0 -2px
    }
    .detail_page .detail_container .detail_container_inner .detail_list .itm{
        width:50%
    }
    .detail_page .detail_container .detail_container_inner .detail_list .lnk{
        padding:0 2px 50px
    }
    .detail_page .detail_container .detail_container_inner .detail_list .lnk .thw .th{
        border-radius:0
    }
    .detail_page .detail_container .detail_container_inner .detail_list .lnk .thw:after{
        border-radius:0
    }
    .detail_page .detail_container .detail_container_inner .detail_list .lnk .tit{
        font-size:13px
    }
    .detail_page footer.detail_footer .detail_footer_inner{
        padding:70px 0
    }
    .detail_page footer.detail_footer .detail_footer_inner .addr{
        font-size:13px
    }
}
@media screen and (max-height:850px){
    .pc{
        display:none!important
    }
    .header{
        right:0!important;
        left:0!important;
        background-color:rgba(0,0,0,.8)
    }
    .header .header_inner{
        height:70px
    }
    .header .all{
        right:20px
    }
    .logo{
        left:20px
    }
    .sections{
        position:relative;
        top:auto;
        right:auto;
        bottom:auto;
        left:auto;
        height:auto
    }
    .sections .section{
        position:relative;
        top:auto;
        right:auto;
        bottom:auto;
        left:auto
    }
    .sections .section:first-child{
        padding-top:100px
    }
    .sections .section:before{
        opacity:.6
    }
    .sections .section.about_us .title{
        font-size:25px
    }
    .sections .section.about_us .description{
        font-size:18px
    }
    .sections .section .section_inner{
        height:auto;
        padding:50px 0
    }
    footer.footer{
        right:0!important;
        left:0!important;
        bottom:0!important;
        padding:30px;
        background-color:#000;
        position:relative
    }
    footer.footer .inner span{
        display:inline-block;
        vertical-align:top
    }
    .section_inner .flex{
        padding-right:30px!important;
        padding-left:30px!important
    }
    .detail_page .detail_header .detail_header_inner{
        height:70px
    }
    .detail_page .detail_header .detail_logo span{
        font-size:30px
    }
    .detail_page .detail_container .detail_container_inner{
        padding:30px 0
    }
    .detail_page .detail_container .detail_container_inner .detail_list_title{
        margin-bottom:20px;
        font-size:20px;
        font-weight:700
    }
    .detail_page .detail_container .detail_container_inner .detail_list{
        overflow:hidden;
        margin:0 -2px
    }
    .detail_page .detail_container .detail_container_inner .detail_list .itm{
        width:50%
    }
    .detail_page .detail_container .detail_container_inner .detail_list .lnk{
        padding:0 2px 50px
    }
    .detail_page .detail_container .detail_container_inner .detail_list .lnk .thw .th{
        border-radius:0
    }
    .detail_page .detail_container .detail_container_inner .detail_list .lnk .thw:after{
        border-radius:0
    }
    .detail_page .detail_container .detail_container_inner .detail_list .lnk .tit{
        font-size:13px
    }
    .detail_page footer.detail_footer .detail_footer_inner{
        padding:70px 0
    }
    .detail_page footer.detail_footer .detail_footer_inner .addr{
        font-size:13px
    }
}
